body{
    background-color:rgb(236, 248, 249);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(229, 88, 7);
}
h2{
    color: rgb(122, 62, 62);
}
h3{
    color: rgb(126, 23, 23);
}
h4{
    color: rgb(126, 23, 23);
}  

p{
    color: black;
    font-size: 15px;
}
li{
    color: rgb(72, 33, 33);
    font-size: 15px
}

.Education{
    clear: both;
}
